swagger: '2.0'
info:
  title: Limeobject API
  description: |
    ## Introduction
    The Limeobject API provides basic operations for creating, updating and deleting objects in a Lime CRM application.

    ## Schema
    The API can and should only be accessed over HTTPS. All data sent to the API should be in JSON format with the
    `application/json` content type set. Responses are sent in [JSON/HAL format](https://tools.ietf.org/html/draft-kelly-json-hal-08)
    (`application/json+hal` media type) which in addition to plain JSON object data also includes hyperlinks to direct
    clients around the available resources.

    Properties that are missing values, e.g. relation properties without a related object are set to `null`. This is
    also the way to unset relations.

    System properties are prefixed with an underscore, e.g. `_createdtime`. These properties are always read-only.

    All date/time properties are specified in [ISO 8601 format](https://pypi.python.org/pypi/iso8601),
    e.g. `YYYY-MM-DDTHH:MM:SSZ` (time in UTC) or `YYYY-MM-DDTHH:MM:SS+hh:mm` (where `hh:mm` specifies the
    time offset from UTC). Not specifying timezone information is valid but the result is undefined.

    ## Authentication and authorization
    API keys are used to authenticate against the API. The key must be sent as the value of a header named
    `x-api-key` in every request. Example:
    ```
    curl -H "x-api-key: ABC123" https://example.com/my_app/api/v1
    ```
    Requests that require authentication will in som cases return `404 Not Found` instead of `401 Unauthorized` in
    order to prevent leakage of application data to unauthorized users.

    All requests are subject to the Lime CRM permission model. If access is denied for a certain operation on a
    certain resource, `403 Forbidden` will be returned.

    ## Error handling
    The API uses standard HTTP status codes for error reporting. Some responses contain error objects, see the
    response for each operation for specifics.

    ## Embedding
    Some operations support embedding of related information that would otherwise require additional requests to retrieve.
    Embedding is done through the `_embed` query parameter.

    ## Filtering
    The `/{limetype}/` collection (e.g. `/company/`) endpoints support simple filtering queries. As an example,
    the following query would retrieve companies based in Lund where the responsible coworker has id 1001:
    ```
    curl -H "x-api-key: ABC123" https://example.com/my_app/api/v1/limeobject/company/?city=Lund&amp;responsible=1001
    ```
    How filtering works:
     - Equal sign (=) is always used to separate property name and condition value, ampersand (&) separates expressions.
     - Prefixes are used to change expression evaluation, supported prefixes: `not`, `max`, `min`.
     - AND logic is applied between expressions having different property names, i.e. filtering on `relation=prospect&amp;region=south` will show all prospects in the southern region.
     - OR logic is applied between expressions having _the same_ property names, i.e. it is possible to filter on `relation=prospect&amp;relation=customer` to retrieve both prospects and customers.
     - AND logic is applied between expressions having the same property names when used with the _not_ operator, i.e. `not-region=south&amp;not-region=west` to retrieve objects neither in the south nor west regions.
     - String comparisons are always case-insensitive.

    Another example which would retrieve deals that are not in status closed and where the quotation
    date is before 2017-01-01 UTC:
    ```
    curl -H "x-api-key: ABC123" https://example.com/my_app/api/v1/limeobject/deal/?not-dealstatus=closed&max-quotationdate=2016-12-31T23:59Z
    ```

    ## Sorting
    The `/{limetype}/` collection endpoints support sorting of the returned result. Currently the result can only
    be sorted on a single property by specifying a valid property name for the `_sort` query parameter. The result
    can be sorted in descending order by prefixing the property name with a minus sign.

    ## Pagination
    The `/{limetype}/` collection endpoints return multiple objects paginated to 10 items
    by default. The following next object page can be retrieved by following the `next` link provided in the response.

    ## Documents and files
    Document and file handling in Lime CRM are two separate concepts. Any limeobject having a _file_ property can
    reference a file object. The file object stores the actual binary file data and related metadata such as file size
    and file name. Creating a document object with an attached file therefore requires two operations:

    1. Create a new file (using the File API).
    2. Create a new limeobject (using the Limeobject API) and set the file property to the ID of the file created in the first step.

    This also means that completely deleting a document and its attached file requires two steps (if you know
    both the document and the file ids):

    1. Remove the document limeobject.
    2. Remove the file object (using the file API).

    ## Unsupported features
    Currently the following is not supported:
     - Many-to-many relations.
  version: "1.0.0"
  contact:
    name: Lime by Lundalogik
    url: https://www.lime-technologies.com/support/
host: host.com
schemes:
  - https
  - http
basePath: /lime%20crm/api/v1/limeobject/
consumes:
  - application/json
produces:
  - application/hal+json
securityDefinitions:
  api_key:
    type: apiKey
    name: x-api-key
    in: header
security:
  - api_key: []
paths:
  /helpdesk/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of  objects. The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "customer"
              - "person"
              - "installation"
              - "mainhelpdesk"
              - "business"
              - "campaign"
              - "agreement"
              - "helpdeskcategory"
              - "businessarea"
              - "mainhelpdesktype"
              - "office"
              - "coworker"
              - "reactioncategory"
              - "reactiontype"
              - "helpdeskgroup"
              - "currentchecklistactivity"
              - "coworkerprojectleader1"
              - "coworkerprojectleader2"
              - "participant"
              - "business2"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
    post:
      summary: "Create a new ."
      description: "Create a single  object."
      tags:
        - helpdesk
      parameters:
        - name: ""
          in: body
          description: "The  data to insert."
          required: true
          schema:
            $ref: '#/definitions/helpdesk'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/helpdesk'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /helpdesk/{id}/:
    get:
      summary: "Retrieve a ."
      description: "Retrieves a single  object having the specified id."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the  to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "customer"
              - "person"
              - "installation"
              - "mainhelpdesk"
              - "business"
              - "campaign"
              - "agreement"
              - "helpdeskcategory"
              - "businessarea"
              - "mainhelpdesktype"
              - "office"
              - "coworker"
              - "reactioncategory"
              - "reactiontype"
              - "helpdeskgroup"
              - "currentchecklistactivity"
              - "coworkerprojectleader1"
              - "coworkerprojectleader2"
              - "participant"
              - "business2"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a ."
      description: "Deletes a single  object having the specified id."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing ."
      description: "Updates a single  object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the  to update."
          required: true
          type: integer
        - name: ""
          in: body
          description: "The  data to update."
          required: true
          schema:
            $ref: '#/definitions/helpdesk'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/customer/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/customer'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/person/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/person'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/installation/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/installation'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/mainhelpdesk/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdesk'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/campaign/:
    get:
      summary: "Retrieve a related kampanj."
      description: "Retrieves the related kampanj object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Kampanj'
        404:
          description: "No kampanj object has been set for this relation."
  /helpdesk/{id}/agreement/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/agreement'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/helpdeskcategory/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdeskcategory'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/businessarea/:
    get:
      summary: "Retrieve a related subcategory."
      description: "Retrieves the related subcategory object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Subcategory'
        404:
          description: "No subcategory object has been set for this relation."
  /helpdesk/{id}/mainhelpdesktype/:
    get:
      summary: "Retrieve a related checklisttemplate."
      description: "Retrieves the related checklisttemplate object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/checklisttemplate'
        404:
          description: "No checklisttemplate object has been set for this relation."
  /helpdesk/{id}/office/:
    get:
      summary: "Retrieve a related office."
      description: "Retrieves the related office object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Office'
        404:
          description: "No office object has been set for this relation."
  /helpdesk/{id}/coworker/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/reactioncategory/:
    get:
      summary: "Retrieve a related reactioncategory."
      description: "Retrieves the related reactioncategory object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/reactioncategory'
        404:
          description: "No reactioncategory object has been set for this relation."
  /helpdesk/{id}/reactiontype/:
    get:
      summary: "Retrieve a related reactiontype."
      description: "Retrieves the related reactiontype object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/reactiontype'
        404:
          description: "No reactiontype object has been set for this relation."
  /helpdesk/{id}/helpdeskgroup/:
    get:
      summary: "Retrieve a related helpdeskgroup."
      description: "Retrieves the related helpdeskgroup object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdeskgroup'
        404:
          description: "No helpdeskgroup object has been set for this relation."
  /helpdesk/{id}/currentchecklistactivity/:
    get:
      summary: "Retrieve a related checklist activity."
      description: "Retrieves the related checklist activity object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Checklist_Activity'
        404:
          description: "No checklist activity object has been set for this relation."
  /helpdesk/{id}/coworkerprojectleader1/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/coworkerprojectleader2/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /helpdesk/{id}/participant/:
    get:
      summary: "Retrieve a related participant."
      description: "Retrieves the related participant object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Participant'
        404:
          description: "No participant object has been set for this relation."
  /helpdesk/{id}/business2/:
    get:
      summary: "Retrieve a related offert."
      description: "Retrieves the related offert object, if any."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Offert'
        404:
          description: "No offert object has been set for this relation."
  /helpdesk/{id}/history/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/history'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/document/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/document'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/workorder/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of workorder objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/workorder'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/timelog/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of timelog objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/timelog'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/oldchecklistactivity/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of checklistactivity old objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/checklistactivity_old'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/soschecklistactivity/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of soschecklistactivity objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/soschecklistactivity'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/todo/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of todo objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/todo'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/checklist_item/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of checklist_item objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/checklist_item'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/subhelpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/signagreement/:
    get:
      summary: "Retrieve related sign agreement."
      description: "Retrieves a paginated list of sign agreement objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Sign_agreement'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/smssendout/:
    get:
      summary: "Retrieve related sms sendouts."
      description: "Retrieves a paginated list of sms sendout objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/SMS_sendout'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/smsrecipient/:
    get:
      summary: "Retrieve related sms recipients."
      description: "Retrieves a paginated list of sms recipient objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/SMS_recipient'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/debitrequest/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of debitrequest objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/debitrequest'
        404:
          description: Limeobject not found.
  /helpdesk/{id}/serviceprotocol/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of serviceprotocol objects related to a specific . The result contains all available properties."
      tags:
        - helpdesk
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/serviceprotocol'
        404:
          description: Limeobject not found.
  /helpdeskcategory/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of  objects. The result contains all available properties."
      tags:
        - helpdeskcategory
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdeskcategory'
    post:
      summary: "Create a new ."
      description: "Create a single  object."
      tags:
        - helpdeskcategory
      parameters:
        - name: ""
          in: body
          description: "The  data to insert."
          required: true
          schema:
            $ref: '#/definitions/helpdeskcategory'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/helpdeskcategory'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /helpdeskcategory/{id}/:
    get:
      summary: "Retrieve a ."
      description: "Retrieves a single  object having the specified id."
      tags:
        - helpdeskcategory
      parameters:
        - name: id
          in: path
          description: "The id of the  to retrieve."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdeskcategory'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a ."
      description: "Deletes a single  object having the specified id."
      tags:
        - helpdeskcategory
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing ."
      description: "Updates a single  object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - helpdeskcategory
      parameters:
        - name: id
          in: path
          description: "The id of the  to update."
          required: true
          type: integer
        - name: ""
          in: body
          description: "The  data to update."
          required: true
          schema:
            $ref: '#/definitions/helpdeskcategory'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/helpdeskcategory'
        404:
          description: Limeobject not found.
  /helpdeskcategory/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - helpdeskcategory
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /helpdeskcategory/{id}/businessarea/:
    get:
      summary: "Retrieve related subcategories."
      description: "Retrieves a paginated list of subcategory objects related to a specific . The result contains all available properties."
      tags:
        - helpdeskcategory
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Subcategory'
        404:
          description: Limeobject not found.
  /reactioncategory/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of reactioncategory objects. The result contains all available properties."
      tags:
        - reactioncategory
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/reactioncategory'
    post:
      summary: "Create a new reactioncategory."
      description: "Create a single reactioncategory object."
      tags:
        - reactioncategory
      parameters:
        - name: "reactioncategory"
          in: body
          description: "The reactioncategory data to insert."
          required: true
          schema:
            $ref: '#/definitions/reactioncategory'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/reactioncategory'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /reactioncategory/{id}/:
    get:
      summary: "Retrieve a reactioncategory."
      description: "Retrieves a single reactioncategory object having the specified id."
      tags:
        - reactioncategory
      parameters:
        - name: id
          in: path
          description: "The id of the reactioncategory to retrieve."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/reactioncategory'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a reactioncategory."
      description: "Deletes a single reactioncategory object having the specified id."
      tags:
        - reactioncategory
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing reactioncategory."
      description: "Updates a single reactioncategory object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - reactioncategory
      parameters:
        - name: id
          in: path
          description: "The id of the reactioncategory to update."
          required: true
          type: integer
        - name: "reactioncategory"
          in: body
          description: "The reactioncategory data to update."
          required: true
          schema:
            $ref: '#/definitions/reactioncategory'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/reactioncategory'
        404:
          description: Limeobject not found.
  /reactioncategory/{id}/reactiontype/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of reactiontype objects related to a specific reactioncategory. The result contains all available properties."
      tags:
        - reactioncategory
      parameters:
        - name: id
          in: path
          description: "The id of the parent reactioncategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/reactiontype'
        404:
          description: Limeobject not found.
  /reactioncategory/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific reactioncategory. The result contains all available properties."
      tags:
        - reactioncategory
      parameters:
        - name: id
          in: path
          description: "The id of the parent reactioncategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /businessarea/:
    get:
      summary: "Retrieve subcategories"
      description: "Retrieves a paginated list of subcategory objects. The result contains all available properties."
      tags:
        - Subcategories
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "helpdeskcategory"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Subcategory'
    post:
      summary: "Create a new subcategory."
      description: "Create a single subcategory object."
      tags:
        - Subcategories
      parameters:
        - name: "Subcategory"
          in: body
          description: "The subcategory data to insert."
          required: true
          schema:
            $ref: '#/definitions/Subcategory'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/Subcategory'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /businessarea/{id}/:
    get:
      summary: "Retrieve a subcategory."
      description: "Retrieves a single subcategory object having the specified id."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the subcategory to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "helpdeskcategory"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Subcategory'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a subcategory."
      description: "Deletes a single subcategory object having the specified id."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing subcategory."
      description: "Updates a single subcategory object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the subcategory to update."
          required: true
          type: integer
        - name: "Subcategory"
          in: body
          description: "The Subcategory data to update."
          required: true
          schema:
            $ref: '#/definitions/Subcategory'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/Subcategory'
        404:
          description: Limeobject not found.
  /businessarea/{id}/helpdeskcategory/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the parent subcategory."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdeskcategory'
        404:
          description: "No  object has been set for this relation."
  /businessarea/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific subcategory. The result contains all available properties."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the parent subcategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /businessarea/{id}/business/:
    get:
      summary: "Retrieve related offerter."
      description: "Retrieves a paginated list of offert objects related to a specific subcategory. The result contains all available properties."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the parent subcategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Offert'
        404:
          description: Limeobject not found.
  /businessarea/{id}/helpdesktype/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of checklisttemplate objects related to a specific subcategory. The result contains all available properties."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the parent subcategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/checklisttemplate'
        404:
          description: Limeobject not found.
  /businessarea/{id}/campaign/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of kampanj objects related to a specific subcategory. The result contains all available properties."
      tags:
        - Subcategories
      parameters:
        - name: id
          in: path
          description: "The id of the parent subcategory."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Kampanj'
        404:
          description: Limeobject not found.
  /helpdesktype/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of checklisttemplate objects. The result contains all available properties."
      tags:
        - helpdesktype
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "businessarea"
              - "office"
              - "helpdeskgroup"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/checklisttemplate'
    post:
      summary: "Create a new checklisttemplate."
      description: "Create a single checklisttemplate object."
      tags:
        - helpdesktype
      parameters:
        - name: "checklisttemplate"
          in: body
          description: "The checklisttemplate data to insert."
          required: true
          schema:
            $ref: '#/definitions/checklisttemplate'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/checklisttemplate'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /helpdesktype/{id}/:
    get:
      summary: "Retrieve a checklisttemplate."
      description: "Retrieves a single checklisttemplate object having the specified id."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the checklisttemplate to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "businessarea"
              - "office"
              - "helpdeskgroup"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/checklisttemplate'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a checklisttemplate."
      description: "Deletes a single checklisttemplate object having the specified id."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing checklisttemplate."
      description: "Updates a single checklisttemplate object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the checklisttemplate to update."
          required: true
          type: integer
        - name: "checklisttemplate"
          in: body
          description: "The checklisttemplate data to update."
          required: true
          schema:
            $ref: '#/definitions/checklisttemplate'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/checklisttemplate'
        404:
          description: Limeobject not found.
  /helpdesktype/{id}/businessarea/:
    get:
      summary: "Retrieve a related subcategory."
      description: "Retrieves the related subcategory object, if any."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Subcategory'
        404:
          description: "No subcategory object has been set for this relation."
  /helpdesktype/{id}/office/:
    get:
      summary: "Retrieve a related office."
      description: "Retrieves the related office object, if any."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/Office'
        404:
          description: "No office object has been set for this relation."
  /helpdesktype/{id}/helpdeskgroup/:
    get:
      summary: "Retrieve a related helpdeskgroup."
      description: "Retrieves the related helpdeskgroup object, if any."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/helpdeskgroup'
        404:
          description: "No helpdeskgroup object has been set for this relation."
  /helpdesktype/{id}/checklistactivitytemplate/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of checklistactivitytemplate objects related to a specific checklisttemplate. The result contains all available properties."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/checklistactivitytemplate'
        404:
          description: Limeobject not found.
  /helpdesktype/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific checklisttemplate. The result contains all available properties."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /helpdesktype/{id}/checklistactivity/:
    get:
      summary: "Retrieve related checklist activities."
      description: "Retrieves a paginated list of checklist activity objects related to a specific checklisttemplate. The result contains all available properties."
      tags:
        - helpdesktype
      parameters:
        - name: id
          in: path
          description: "The id of the parent checklisttemplate."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Checklist_Activity'
        404:
          description: Limeobject not found.
  /reactiontype/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of reactiontype objects. The result contains all available properties."
      tags:
        - reactiontype
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "reactioncategory"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/reactiontype'
    post:
      summary: "Create a new reactiontype."
      description: "Create a single reactiontype object."
      tags:
        - reactiontype
      parameters:
        - name: "reactiontype"
          in: body
          description: "The reactiontype data to insert."
          required: true
          schema:
            $ref: '#/definitions/reactiontype'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/reactiontype'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /reactiontype/{id}/:
    get:
      summary: "Retrieve a reactiontype."
      description: "Retrieves a single reactiontype object having the specified id."
      tags:
        - reactiontype
      parameters:
        - name: id
          in: path
          description: "The id of the reactiontype to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "reactioncategory"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/reactiontype'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a reactiontype."
      description: "Deletes a single reactiontype object having the specified id."
      tags:
        - reactiontype
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing reactiontype."
      description: "Updates a single reactiontype object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - reactiontype
      parameters:
        - name: id
          in: path
          description: "The id of the reactiontype to update."
          required: true
          type: integer
        - name: "reactiontype"
          in: body
          description: "The reactiontype data to update."
          required: true
          schema:
            $ref: '#/definitions/reactiontype'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/reactiontype'
        404:
          description: Limeobject not found.
  /reactiontype/{id}/reactioncategory/:
    get:
      summary: "Retrieve a related reactioncategory."
      description: "Retrieves the related reactioncategory object, if any."
      tags:
        - reactiontype
      parameters:
        - name: id
          in: path
          description: "The id of the parent reactiontype."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/reactioncategory'
        404:
          description: "No reactioncategory object has been set for this relation."
  /reactiontype/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific reactiontype. The result contains all available properties."
      tags:
        - reactiontype
      parameters:
        - name: id
          in: path
          description: "The id of the parent reactiontype."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /customer/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of  objects. The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "maincustomer"
              - "coworkerel"
              - "coworkerfjv"
              - "coworkeravf"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/customer'
    post:
      summary: "Create a new ."
      description: "Create a single  object."
      tags:
        - customer
      parameters:
        - name: ""
          in: body
          description: "The  data to insert."
          required: true
          schema:
            $ref: '#/definitions/customer'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/customer'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /customer/{id}/:
    get:
      summary: "Retrieve a ."
      description: "Retrieves a single  object having the specified id."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the  to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "maincustomer"
              - "coworkerel"
              - "coworkerfjv"
              - "coworkeravf"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/customer'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a ."
      description: "Deletes a single  object having the specified id."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing ."
      description: "Updates a single  object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the  to update."
          required: true
          type: integer
        - name: ""
          in: body
          description: "The  data to update."
          required: true
          schema:
            $ref: '#/definitions/customer'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/customer'
        404:
          description: Limeobject not found.
  /customer/{id}/maincustomer/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/customer'
        404:
          description: "No  object has been set for this relation."
  /customer/{id}/coworkerel/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /customer/{id}/coworkerfjv/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /customer/{id}/coworkeravf/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/coworker'
        404:
          description: "No  object has been set for this relation."
  /customer/{id}/person/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/person'
        404:
          description: Limeobject not found.
  /customer/{id}/history/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/history'
        404:
          description: Limeobject not found.
  /customer/{id}/document/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/document'
        404:
          description: Limeobject not found.
  /customer/{id}/installation/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/installation'
        404:
          description: Limeobject not found.
  /customer/{id}/agreement/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/agreement'
        404:
          description: Limeobject not found.
  /customer/{id}/helpdesk/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/helpdesk'
        404:
          description: Limeobject not found.
  /customer/{id}/business/:
    get:
      summary: "Retrieve related offerter."
      description: "Retrieves a paginated list of offert objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Offert'
        404:
          description: Limeobject not found.
  /customer/{id}/participant/:
    get:
      summary: "Retrieve related participants."
      description: "Retrieves a paginated list of participant objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Participant'
        404:
          description: Limeobject not found.
  /customer/{id}/todo/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of todo objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/todo'
        404:
          description: Limeobject not found.
  /customer/{id}/consent/:
    get:
      summary: "Retrieve related legal base/consents."
      description: "Retrieves a paginated list of legal base/consent objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Legal_base_consent'
        404:
          description: Limeobject not found.
  /customer/{id}/daughtercompanies/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/customer'
        404:
          description: Limeobject not found.
  /customer/{id}/smsrecipient/:
    get:
      summary: "Retrieve related sms recipients."
      description: "Retrieves a paginated list of sms recipient objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/SMS_recipient'
        404:
          description: Limeobject not found.
  /customer/{id}/debitrequest/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of debitrequest objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/debitrequest'
        404:
          description: Limeobject not found.
  /customer/{id}/serviceprotocol/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of serviceprotocol objects related to a specific . The result contains all available properties."
      tags:
        - customer
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/serviceprotocol'
        404:
          description: Limeobject not found.
  /person/:
    get:
      summary: "Retrieve "
      description: "Retrieves a paginated list of  objects. The result contains all available properties."
      tags:
        - person
      parameters:
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "customer"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/person'
    post:
      summary: "Create a new ."
      description: "Create a single  object."
      tags:
        - person
      parameters:
        - name: ""
          in: body
          description: "The  data to insert."
          required: true
          schema:
            $ref: '#/definitions/person'
      responses:
        201:
          description: A JSON representation of the created object.
          schema:
            $ref: '#/definitions/person'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/Error'
  /person/{id}/:
    get:
      summary: "Retrieve a ."
      description: "Retrieves a single  object having the specified id."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the  to retrieve."
          required: true
          type: integer
        - name: _embed
          in: query
          required: false
          type: array
          collectionFormat: multi
          items:
            enum:
              - "customer"
          description: Include data for related objects of the specified type.
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/person'
        404:
          description: Limeobject not found.
    delete:
      summary: "Delete a ."
      description: "Deletes a single  object having the specified id."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: The id of the object to delete.
          required: true
          type: integer
      responses:
        204:
          description: Success. No content returned.
        404:
          description: Limeobject not found.
    put:
      summary: "Update an existing ."
      description: "Updates a single  object having the specified id. Note that partial objects (i.e. without all properties set) can be specified."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the  to update."
          required: true
          type: integer
        - name: ""
          in: body
          description: "The  data to update."
          required: true
          schema:
            $ref: '#/definitions/person'
      responses:
        200:
          description: A JSON representation of the updated (full) object.
          schema:
            $ref: '#/definitions/person'
        404:
          description: Limeobject not found.
  /person/{id}/customer/:
    get:
      summary: "Retrieve a related ."
      description: "Retrieves the related  object, if any."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
      responses:
        200:
          description: A JSON representation of the requested object.
          schema:
            $ref: '#/definitions/customer'
        404:
          description: "No  object has been set for this relation."
  /person/{id}/participant/:
    get:
      summary: "Retrieve related participants."
      description: "Retrieves a paginated list of participant objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Participant'
        404:
          description: Limeobject not found.
  /person/{id}/history/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/history'
        404:
          description: Limeobject not found.
  /person/{id}/document/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of  objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/document'
        404:
          description: Limeobject not found.
  /person/{id}/business/:
    get:
      summary: "Retrieve related offerter."
      description: "Retrieves a paginated list of offert objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Offert'
        404:
          description: Limeobject not found.
  /person/{id}/consent/:
    get:
      summary: "Retrieve related legal base/consents."
      description: "Retrieves a paginated list of legal base/consent objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
          description: The maximum number of items to return.
          minimum: 1
          maximum: 50
          default: 10
        - name: _sort
          in: query
          type: string
          description: Name of a (single) property to sort on. To sort in descending order, prefix with a '-' sign.
      responses:
        200:
          description: An array of objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Legal_base_consent'
        404:
          description: Limeobject not found.
  /person/{id}/todo/:
    get:
      summary: "Retrieve related ."
      description: "Retrieves a paginated list of todo objects related to a specific . The result contains all available properties."
      tags:
        - person
      parameters:
        - name: id
          in: path
          description: "The id of the parent ."
          required: true
          type: integer
        - name: _limit
          in: query
          type: integer
[...]
